/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-family);
  position: relative;
  background-image: var(--background-gradient-united);
  background-size: cover;
  background-attachment: fixed;
}

.page__inner {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-inline: 20px;
  box-sizing: border-box;
}

.header-title-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  inline-size: var(--header-title-group-width);
  block-size: var(--header-title-group-height);
  margin-top: var(--header-title-group-top);
  margin-inline: auto;
  background-color: var(--header-title-group-background-color);
  outline: var(--header-title-group-border-width) solid #000000;
  text-align: center;
  gap: 20px;
}

.header-text {
  text-transform: uppercase;
  line-height: 100%;
}

.header-text.title {
  font-size: var(--header-title-font-size);
}

.header-text.subtitle {
  font-size: var(--header-subtitle-font-size);
}

.main {
  margin-top: var(--main-section-group-top);
  inline-size: var(--main-section-group-width);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  margin-block-end: var(--main-margin-block-end);
}

.main-section {
  position: relative;
  min-block-size: auto;
  background-color: #ffffff;
  background-clip: padding-box;
  margin-block-end: 50px;
  padding-bottom: 1px;
}

.main-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: var(--header-title-group-border-width) solid #000000;
  pointer-events: none;
  z-index: 1;
}

.main-section-title {
  font-family: var(--font-family-variable);
  font-size: var(--main-section-group-title-font-size);
  font-variation-settings: "wght" 715;
  line-height: 19px;
  margin-block-start: 2px;
  padding: 6px 12px;
}



.main-section-image_watermark {
  position: relative;
}

.main-section-image img {
  display: block;
}

.main-section-image {
  max-height: 696px;
  width: 100%;
  object-fit: cover;
}

.main-section-watermark {
  position: absolute;
  text-transform: uppercase;
  z-index: 1;
  top: 25px;
  right: 25px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 100%;
  text-shadow:
    -1px 0 #FFFFFF,
    0 1px #FFFFFF,
    1px 0 #FFFFFF,
    0 -1px #FFFFFF;
  opacity: 0.5;
}

@supports ((-webkit-text-stroke: 1px #FFFFFF) or (text-stroke: 1px #FFFFFF)) {
  .main-section-watermark {
    -webkit-text-stroke: 1px #FFFFFF;
    text-stroke: 1px #FFFFFF;
    text-shadow: none;
  }
}

.main-section-image_watermark::before,
.main-modal-button::before,
.card__like-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: var(--header-title-group-border-width) solid #000000;
  pointer-events: none;
  z-index: 1;
}


.bus_grayscale {
  filter: grayscale(70%);
}

.bus_brightness {
  filter: brightness(2.4) hue-rotate(21deg) contrast(2.1);
}

.bus_hue-rotate {
  filter: hue-rotate(30deg);
}

.bus_invert {
  filter: invert(75%);
}

.bus_sepia {
  filter: sepia(90%);
}

.bus_blur {
  filter: blur(20px);
}

.bus_composite {
  filter: contrast(60%) hue-rotate(80deg);
}

.section-text {
  position: relative;
  padding: 27px 27px 0 27px;
}

.main-section-text {
  font-family: var(--font-family-variable);
  font-variation-settings: "wght" 410;
  line-height: 21px;
  font-size: 18px;
  margin-block-end: 26px;
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 27px;
  margin-block-end: 25px;
}

.button {
  position: relative;
  background-color: var(--button-bg-color, #ffff);
  color: var(--button-text-color);
  border: none;
  font-size: 14px;
  line-height: 90%;
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
}

.card__like-button {
  padding: 12.5px 37px;
}

.button::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #000;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.button:hover::after {
  transform: translateX(0);
}

.button:hover span {
  position: relative;
  z-index: 3;
  mix-blend-mode: difference;
  color: var(--button-text-colorr, #fff);
}

.button svg {
  z-index: 3;
}

.button:hover svg {
  color: #fff;
  mix-blend-mode: difference;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0px #000000;
  transition: transform 0.3s ease;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0px #000000;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.card__icon-button {
  background: none;
  border: none;
}

.card__icon-button:focus {
  border: none;
  padding: 0;
  outline: var(--header-title-group-border-width) solid #000000;
  margin-right: 7px;
}


.main-end-button {
  padding: 15px 20px;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 3.5px;
  margin: var(--main-end-button-margin);
  border: var(--header-title-group-border-width) solid #000000;
}

dialog {
  display: none;
}

dialog[open] {
  inline-size: clamp(341px, 321.00px + 1.67vw, 353px);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: var(--header-title-group-border-width) solid #000000;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
}

dialog::backdrop {
  background-color: var(--modal-background-color);
}

.main_dialog-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-block-end: 30px;
}

.main_dialog-content-text {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 150%;
  width: 234px;
}

.main-modal-button {
  background-color: transparent;
  padding: 12px var(--main-margin-block-padding-buttom);
  text-transform: uppercase;
  margin-block-end: var(--main-end-button-margin);
  width: clamp(261px, 249.73px + 3.00vw, 293px);
  height: 38px;
}


.main-floppy_dialog {
  width: 39px;
  height: 39px;
  margin-block-start: 12px;
}


@media (width <=376px) {
  .main-section {
    padding-bottom: 0;
  }

  .main-section-title {
    line-height: 20px;
  }

  .main-section-image {
    max-height: 371px;
  }

  .main-end-button {
    display: flex;
    flex-direction: column;
    padding: 17px 20px;
    gap: 8px;
  }

  .main-floppy_button {
    width: 28px;
    height: 28px;
  }

  dialog[open] {
    top: 30%;
    padding: 30px 40px;
  }
}